openapi: 3.0.0

info:
    title: Path calculation results using TOS
    description: Path calculation results using TOS.
    version: 1.0.0

servers:
    - url: https://tos-pilot.tufin.com

paths:
    /securetrack/api/topology/path.json:
        get:
            operationId: topologyPath
            summary: Get path for specified traffic.
            parameters:
                -   $ref: '#/components/parameters/src'
                -   $ref: '#/components/parameters/dst'
                -   $ref: '#/components/parameters/srv'
            responses:
                200:
                    description: Path calculation results
                400:
                    description: Value is missing or not valid
    /securechangeworkflow/api/securechange/workflows/active_workflows.json:
        get:
            operationId: ActiveWorkflowList
            summary: Returns active workflow list defined in SecureChange.
            responses:
                200:
                    description: OK
                400:
                    description: <TYPE> is not a valid workflow type
    /securechangeworkflow/api/securechange/workflows/active_workflows.json?type=ACCESS_REQUEST:
        get:
            operationId: AccessRequestWorkflows
            summary: The Access-Request workflow can either allow or block traffic to a service from the source to the destination.
            responses:
                200:
                    description: OK
                400:
                    description: <TYPE> is not a valid workflow type

components:
    parameters:
        src:
            in: query
            name: src
            required: true
            allowEmptyValue: false
            schema:
                type: string
                default: 'any'
        dst:
            in: query
            name: dst
            required: true
            allowEmptyValue: false
            schema:
                type: string
                default: 'any'
        srv:
            in: query
            name: service
            required: true
            allowEmptyValue: false
            schema:
                type: string
                default: 'any'